<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.alcaldia.appsutatausa">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconooficial"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconooficial"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppSutatausa">
        <activity
            android:name=".Noticias"
            android:screenOrientation="portrait"
            android:label="Noticias"
            android:exported="false"
            android:theme="@style/DemoTheme">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Contactenos"
            android:screenOrientation="portrait"
            android:label="Contactenos"
            android:exported="false"
            android:theme="@style/DemoTheme">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Email"
            android:screenOrientation="portrait"
            android:label="Contacto"
            android:exported="false"
            android:theme="@style/DemoTheme">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Directorio"
            android:screenOrientation="portrait"
            android:exported="false"
            android:label="@string/title_activity_directorio"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppSutatausa.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Contacto"
            android:screenOrientation="portrait"
            android:label="Contacto"
            android:exported="false"
            android:theme="@style/DemoTheme">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Tramites"
            android:screenOrientation="portrait"
            android:label="Tramites"
            android:exported="false"
            android:theme="@style/DemoTheme">
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:exported="true"
            android:theme="@style/DemoTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>